.booking-page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.booking-layout {
  max-width: 1200px;
  margin: 0px auto;
  flex: 1;
}

.booking-content {
  margin-top: 32px;
  position: relative;
  z-index: 5;
}
