@use "../../common/variables" as *;
@use "../../common/mixins";

.hotel-map {
  padding: $spacing-section 0 0;
  
  .map-info {
    margin-bottom: $spacing-xl;
    
    h3 {
      font-size: 32px;
      font-weight: 700;
      color: #333;
      margin-bottom: $spacing-md;
    }
    
    .address {
      font-size: 20px;
      color: #555;
      margin-bottom: $spacing-sm;
      line-height: 1.6;
    }
    
    .location {
      font-size: 18px;
      color: #666;
      margin-bottom: $spacing-md;
      line-height: 1.6;
    }
    
    .map-link {
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      color: $color-blue;
      text-decoration: none;
      transition: color 0.3s;
      
      &:hover {
        color: $color-blue-dark;
        text-decoration: underline;
      }
    }
  }
  
  .map-container {
    border-radius: $border-radius-lg;
    overflow: hidden;
    box-shadow: $shadow-md;
    
    iframe {
      width: 100%;
      height: 500px;
      border: 0;
    }
  }
}