@use "../common/variables" as *;

.wishlist-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wishlist-content {
  flex: 1;
  padding-bottom: 100px; /* Footer와 겹치지 않도록 하단 여백 */
}

